/* Table styling */

#product-section {
  margin-top: 8rem;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
}

table {
  text-align: center;
  padding: 1rem;
}

table th {
  font-size: 1.5rem;
}

th,
td,
tr {
  border: 2px solid #bac7bc;
  margin: 1rem;
  height: 50px;
  padding: 1rem;
}

/* Order styling */
#order-section {
  margin-top: 4rem;
}

form {
  width: 60%;
}

.title {
  background: #67b26f;
  background: -webkit-linear-gradient(to right, #4ca2cd, #67b26f);
  background: linear-gradient(to right, #4ca2cd, #67b26f);
  color: #f1f1f1;
  text-align: center;
  padding: 1rem;
}

.title h2 {
  font-size: 2rem;
}

.form-row {
  position: static;
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.required {
  color: rgb(156, 6, 6);
}

.input-fields {
  height: 20px;
  width: 280px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.input-fields:hover {
  border: 3px solid #67b26f;
  outline: #67b26f;
}

.btn {
  color: #ffffff;
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  transition-duration: 0.3s;
  background: #67b26f;
  font-size: 1rem;
}
